@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/babasneue_regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/proximanova_bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

.wrapper-form{
	background-color: #f3f3f3;
	padding: 100px 0;
}
form{
	text-align: center;
	
	a{
		margin: 10px;
		color: gray;
	}
	.tip{
		display: inline-block;
		width: 250px;
		margin-top: -30px;
		color: gray;
		font-style: oblique;
		text-align: justify;
	}
	
	input{
		max-width: 100%;
		display: inline-block;
		&[type="text"]{
			display: block;
			margin: 40px auto;
			height: 35px;
			width:250px;
			
		}
		
		
	}
	@include breakpoint(tablet){
		input[type="checkbox"]{
			text-align: left;
		}
	}
	
}

.footer{
	color: white;
	text-align: center;
	background: #1c1d30;
	padding: 30px;
}