@mixin breakpoint($point) {
	@if $point == desktop {
		@media (min-width: 70em) { @content ; }
	}
	@else if $point == laptop {
		@media (min-width: 64em) { @content ; }
	}
	@else if $point == tablet {
		@media (min-width: 50em) { @content ; }
	}
	@else if $point == phablet {
		@media (min-width: 37.5em) { @content ; }
	}
	@else if $point == mobileonly {
		@media (max-width: 37.5em) { @content ; }
	}
}
@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebasneue_regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaBold';
	src: url('../fonts/proximanova_bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaregular';
	src: url('../fonts/proximanova_regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
*{
	font-family: 'ProximaNovaregular';
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
.header{
	background: url(../images/background_01.png);
	background-size: auto;
	background-position-x: center;
	&__top{
		text-align: center;
		padding: 30px 0;
		border-bottom: 1px solid rgba(255, 255, 255, .2);
		margin-bottom: 30px;
		img{
			margin-bottom: 30px;
		}
		a{
			margin-bottom: 30px;
		}
	}
	&__middle{
		padding-top: 65px;
		text-align: center;
	}
	&__info{
		margin-bottom:67px;
	}
	&__text{
		font-size: 24px;
		color: #fff;
	}

}
.btn{
	font-family:'ProximaNovaBold';
	display: inline-block;
	text-transform: uppercase;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 3px;
	&_open{
		color: #000;
		background: #f3c128;
		font-size: 14px;
	}
	&_j2t{
		font-family: 'BebasNeue';
		background: linear-gradient(to right, rgba(239,55,0,1) 0%,rgba(217,6,3,1) 100%);
		color: #fff;
		font-size: 75px;
		margin-bottom: 30px; 
		border-radius: 0;
		border: 1px solid #d90603;
		padding-bottom: 6px;
		// display:block;
	}
	&__red{
		background-color: #d80303;
		color: white;
	}
	&__grey{
		color: white;
		background-color: #7b7b7b;
		padding: 10px;
		&:after{
			content: "\203A";
			font-size: 2em;
			display: inline-block;
			margin-top: -5px;
			position: relative;
			top: 2px;
			left: 5px;
		}
	}
}
.whyus{
	text-align:center;
	font-size: 24px;
	display:inline-block;
	position:relative;
	text-transform: uppercase;
	color: #fff;
	margin-bottom:50px;
	&:after{
		content: '';
		position:absolute;
		height:1px;
		background:rgba(255, 255, 255, .2);
		left:auto;
		right:100%;
		width:2000px;
		top:50%;
	}
	&:before{
		content: '';
		position:absolute;
		height:1px;
		background:rgba(255, 255, 255, .2);
		left:100%;
		right:auto;
		width:2000px;
		top:50%;
	}

}
.wrapper-form{
	background-color: #f3f3f3;
	padding: 100px 0;
}
.title{
	text-align: center;
	&__text{
		font-size: 3em;
		text-transform: uppercase;
		margin: 30px;
	}
}
form{
	text-align: center;
	
	a{
		margin: 10px;
		color: gray;
	}
	.tip{
		display: inline-block;
		width: 250px;
		margin-top: -30px;
		color: gray;
		font-style: oblique;
		text-align: justify;
	}
	
	input{
		max-width: 100%;
		display: inline-block;
		&[type="text"]{
			display: block;
			margin: 40px auto;
			height: 35px;
			width:250px;
			
		}
		
		
	}
	@include breakpoint(tablet){
		.form__wrap{text-align: left;}
	}
}
.footer{
	color: white;
	text-align: center;
	background: #1c1d30;
	padding: 30px;
}