html
	head
		include ./parts/head.pug
	body
		.header
			.header__top
				.wrapper.clearfix
					.col-phablet-1-3
						img(src="images/just2trade_logo.png", alt="logo")
					.col-phablet-1-3
						a(href="#").btn.btn_open
							|Открыть счет
					.col-phablet-1-3
						img(src="images/finam_logo.png", alt="logo")
			.header__middle
				.header__info
					.btn.btn_j2t
						|Just2trade
					.header__text
						|Это площадка от компании финам
						br
						|для выгодной торговли на рынке форекс
				.why-us
					|Почему Just2Trade?
			.header__bottom
				.wrapper.clearfix
					.col-phablet-1-3
						.why-us-advantage
							img(src="images/icon_insurance.png")
							span 
								|Счета каждого клиента
								br
								|застрахованы
					.col-phablet-1-3
						.why-us-advantage
							img(src="images/icon_money.png")
							span 
								|Компенсационный фонд
								br
								|на 20 000 EUR
					.col-phablet-1-3
						.why-us-advantage
							img(src="images/icon_support.png")
							span 
								|Круглосуточная поддержка 24/7 даже в выходные
		.section
			.title
				.title__btn.btn.btn__red Выгода познается
				.title__text в сравнении
		.title
			.title__btn.btn.btn__red Для профессионалов
			.title__text Фондового рынка
		.wrapper
			.title
				.title__btn.btn.btn__red Покупайте и продавайте
				.title__text криптовалюту на финам
		.offer
			.wrapper
				.row.clearfix
					.col-phablet-1-2
						.offer__title
							span Уникальное
							span предложение
							span от брокера
					.col-phablet-1-2
						
						img(src="images/card.png")
						.offer__text Вывод крипто-валюты на ваш крипто-кошелек
						.btn.offer__btn ПОДРОБНЕЕ
		.wrapper
			.title
				.title__btn.btn.btn__red выберите наиболее подходящий для вас
				.title__text Тип торговых счетов
		.wrapper
			.row.clearfix
				.col-tablet-1-2.col-laptop-1-3
					.count-type
						.count-type__title Forex и CFD Standart
						.count-type__name standart
						.count-type__describe 
							|Торговый счет у лицензированного европейского брокера Just2Trade Online Ltd.Идеально подходит для начинающих трейдеров.
						hr
						.count-type__list
							ul
								li Минимальная сумма
								li Плечо
								li Спред
								li Минимальный лот
								li Брокерская комиссия
								li Защита от отрицательного баланса
							ul
								li 100$
								li до 1:1500
								li от 0,5
								li 0,01
								li 0
								li Да
						hr
						.count-type__btn
							a.btn.btn_open(href="#") Открыть счет
							a.btn.btn_demo(href="#") Демо
				.col-tablet-1-2.col-laptop-1-3
					.count-type
						.count-type__title Forex и CFD Standart
						.count-type__name premium
						.count-type__describe 
							|Торговый счет у лицензированного европейского брокера Just2Trade Online Ltd.Идеально подходит для начинающих трейдеров.
						hr
						.count-type__list
							ul
								li Минимальная сумма
								li Плечо
								li Спред
								li Минимальный лот
								li Брокерская комиссия
								li Защита от отрицательного баланса
							ul
								li 100$
								li до 1:1500
								li от 0,5
								li 0,01
								li 0
								li Да
						hr
						.count-type__btn
							a.btn.btn_open(href="#") Открыть счет
							a.btn.btn_demo(href="#") Демо
				.col-tablet-1-2.col-laptop-1-3
					.count-type
						.count-type__title Forex и CFD Standart
						.count-type__name pro
						.count-type__describe 
							|Торговый счет у лицензированного европейского брокера Just2Trade Online Ltd.Идеально подходит для начинающих трейдеров.
						hr
						.count-type__list
							ul
								li Минимальная сумма
								li Плечо
								li Спред
								li Минимальный лот
								li Брокерская комиссия
								li Защита от отрицательного баланса
							ul
								li 100$
								li до 1:1500
								li от 0,5
								li 0,01
								li 0
								li Да
						hr
						.count-type__btn
							a.btn.btn_open(href="#") Открыть счет
							a.btn.btn_demo(href="#") Демо
			.title
				.title__btn.btn.btn__red На Just2Trade
				.title__text у вас будет профит!
				span Отличные условия для скальпинг систем
		.section-marketplace
			.wrapper
				.row.clearfix
					.col-phablet-1-2
						.title__text Торговые платформы
						img.trade-4(src="images/mt4.png")
						img.trade-5(src="images/mt5.png")
						.trade-4
						.trade-5
					.col-phablet-1-2
						div
							span Скачайте торговое приложение
							span.strong MetaTrader4
							span и
							span.strong MetaTrader5
							span для Wind
						.col-phablet-1-2
							img(src="images/windows_logo.png")
						.col-phablet-1-2
							img(src="images/windows_logo.png")
						.col-phablet-1-2
							img(src="images/windows_logo.png")
						.col-phablet-1-2
							img(src="images/windows_logo.png")
			
		.wrapper
			.section
				.title
					.title__btn.btn.btn__red Для профессионалов
					.title__text Фондового рынка
				.row.clearfix
					.col-phablet-1-2
						.advantages
							img(src="images/icon_rox.png")
							h2 Полная версия ROX® премиум, включая опционы – только у нас!
							div Платформа разработана американскими трейдерами и максимально адаптирована именно для работы на рынке США.
					.col-phablet-1-2
						.advantages
							img(src="images/icon_commision.png")
							h2 Полная версия ROX® премиум, включая опционы – только у нас!
							div Простые и понятные тарифы: размер комиссионных не изменяется при снижении торговой активности клиента. Торговля с плечом на NYSE, NASDAQ, AMEX на внебиржевом рынке
					.col-phablet-1-2
						.advantages
							img(src="images/icon_securities.png")
							h2 Полная версия ROX® премиум, включая опционы – только у нас!
							div Прямой доступ ко всем ценным бумагам на всех фондовых и опционных биржах США: NYSE (Нью-Йоркская фондовая биржа), NASDAQ, СВОЕ (Чикагская биржа опционов) и др.
					.col-phablet-1-2
						.advantages
							img(src="images/icon_usa.png")
							h2 Полная версия ROX® премиум, включая опционы – только у нас!
							div Для крупных клиентов, которые не хотят переплачивать при покупке акций, а также для активных трейдеров, стремящихся реализовать свои стратегии. Русскоязычная поддержка и бесплатные сервисы помогут сделать это с комфортом.
							img(src="images/icon_securities.png")
							h2 7 000 ценных бумаг
							div Прямой доступ ко всем ценным бумагам на всех фондовых и опционных биржах США: NYSE (Нью-Йоркская фондовая биржа), NASDAQ, СВОЕ (Чикагская биржа опционов) и др.
				.clearfix
					.col-phablet-1-2
						.advantages
							img(src="images/icon_commision.png")
							h2 Низкая комиссия – от $0,0019 за акцию
							div Простые и понятные тарифы: размер комиссионных не изменяется при снижении торговой активности клиента. Торговля с плечом на NYSE, NASDAQ, AMEX на внебиржевом рынке
					.col-phablet-1-2
						.advantages
							img(src="images/icon_usa.png")
							h2 Полная ликвидность бирж США
							div Для крупных клиентов, которые не хотят переплачивать при покупке акций, а также для активных трейдеров, стремящихся реализовать свои стратегии. Русскоязычная поддержка и бесплатные сервисы помогут сделать это с комфортом.
				.clearfix
					a.btn.btn_open(href="#") Подробнее о платформе
		.wrapper-form
			.wrapper
				.title
					.title__btn.btn.btn__red Отправте заявку на открытие
					.title__text индывыдуального счета
					
				form
					.form__wrap
						input#start-form(type="checkbox")
						label(for="start-form") Продолжыть заполнение анкети
					.row.clearfix
						.col-phablet-1-2.col-tablet-1-3
							input(type="text" placeholder="Фамилія *")
							input(type="text" placeholder=" Имя *")
							input(type="text" placeholder="Отчество")
						.col-phablet-1-2.col-tablet-1-3
							input(type="text" placeholder="Email *")
							span.tip На указаный email будут отосланые даные для входа в Личный Кабинет и доступа в торговою платформ
							input(type="text" placeholder="Телефон *")
							span.tip Номер телефона необходим для подтвреджения вхожджения в Личный Кабынет
						.col-tablet-1-3
							input(type="text" placeholder="Подтвердите Email *")
							input(type="text" placeholder="CMS Код *")
					.form__wrap
						input#confirm-form(type="checkbox")
						label(for="confirm-form") Я потдверджаю что согласен с
						a(href="#") Политикой конфиденциальности
						span и
						a(href="#") Общими правилами
						br
						a.btn.btn__grey(href="#") Следующий шаг

		.footer © Just2Trade, 2018.
